modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Admin API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Admin Dashboard"

[[workflows.workflow]]
name = "Admin API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd admin-api && npm run dev"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Admin Dashboard"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd admin-dashboard && npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[nix]
channel = "stable-25_05"
packages = ["imagemagick", "ffmpeg"]

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 36307
externalPort = 3000

[userenv]

[userenv.shared]
FEE_WALLET_SOLANA = "2AV3BdUxuxNMP2ErkWakeUKSfLrzUAEe68GhaBB9EUGe"
FEE_WALLET_ETHEREUM = "0x5e7416e9dDc102FAE4C680713f8d022EcdDF254E"
FEE_WALLET_BSC = "0x47176ee6eb842dbdef48d6cecec28f79f50e033f"
